p {
    color: rgba(23, 6, 173, 0.822);
}


h1 {
    color: #00ff9d;
    text-align: center;
    border-top: 3px solid #ff0000;
    border-bottom: 3px solid #ff0000;
}


a {
    color: rgb(255, 0, 0);
}

span {
    color: hsl(120, 100%, 50%);
}

body {
    background-color: #ca9b00; 
}

footer {
    background-color: #09d61a;
    color: #ffffff; 
    font-size: 15px;
    text-align: center;
    border-top: 3px solid #ff0000;
    border-bottom: 3px solid #ff0000;
}

