p {
    color: rgba(23, 6, 173, 0.822);
}


h1 {
    color: #00ff9d;
}


a {
    color: rgb(255, 0, 0);
}

span {
    color: hsl(120, 100%, 50%);
}

body {
    background-color: #ca9b00; 
}

footer {
    background-color: #ffffff;
    color: #ffffff; 
    font-size: 20px;
}

